body{
	display: flex;
	justify-content: center;
	flex-direction: column;

}
.wrapper{
	padding: 10px 0 30px 0;
	
	overflow: auto;
}
.card{
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 49%;
	background-color: rgb(123, 182, 93);
	margin: 10px auto;
}
.container__coments{
		display: flex;
    flex-wrap: wrap;
}

.card > div{
	margin-bottom: 10px;
	padding: 10px;
}
.email{
	cursor: pointer;

}
.name{
	color: rgb(129, 21, 21);
}

.comment{
	color: greenyellow;
}
.id{
	color: darkkhaki;
}
.btn{
	display: block;
	margin: 10px auto;
	width: 110px;
	height: 50px;
}
.btn__active{
	background-color: gold;
}
.btn_container{
	display: flex;
  justify-content: center;
	margin-bottom: 50px;
}
.hide{
	display: none;
}
.pagination__btn{
	margin: 0 5px;
	width: 50px;
	padding: 10px;
}